{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="center-xy">
        <form method="post">
            <h1>{{ title }}</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{{ title }}">
            {% if title.lower == 'sign up' %}
                <p>Already have an account? <a href="{% url 'accounts:signin' %}">Sign In</a></p>
            {% else %}
                <p>Don't have an account? <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
            {% endif %}
        </form>
    </div>
{% endblock %}